    .cart_item{
        margin: 100px 170px;
    }

    .cart_item hr{
        height: 3px;
        background: #e2e2e2;
        border: 0;
        border-radius: 3px;
    }
.cart_items_format_main{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 75px;
    padding: 20px 0px;
    columns: #454545;
    font-size: 18px;
    font-weight: 600;
}

.class_item_format{
    font-size: 17px;
    font-weight: 500;

}

.cart_icon_product_icon{
     height: 62px;
}

.cart_item_remove_icon{
    width: 15px;
    margin: 0px 40px;
    cursor: pointer;

}

.cart_items_quantity{
    width: 64px;
    height: 50px;
    border: 2px solid #ebebeb;
    background: white;
    text-align: center;
}

.cart_items_down{
    display: flex;
    margin: 100px 0px;
}

.cart_items_total{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap: 40px;
}

.cart_items_total_item{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}

.cart_items_total button{
    width: 262px;
    height: 58px;
    outline: none;
    border: none;
    background: #ff5a5a;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
}

.cart_items_promocode{
    flex: 1;
    font-size: 16px;
    font-weight: 500;
}

.cart_items_promocode p{
    color: #555;
}

.cart_items_promobox{
    width: 504px;
    margin-top: 15px;
    padding-left: 20px;
    height: 58px;
    background: #eaeaea;

}

.cart_items_promobox input{
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    width: 330px;
    height: 50px;

}

.cart_items_promobox button{
    width: 170px;
    height: 58px;
    font-size: 16px;
    background: #000;
    color: #fff;
    cursor: pointer;
    text-align: center;
}